/* AboutMe.css */

.about-me-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
  }
  
  @media (max-width: 768px) {
    .about-me-container {
      padding: 0 10px;
    }
  }
  